# Email configuration for sending OTP
EMAIL_USER=
EMAIL_PASS=

# MongoDB configuration for database handling
MONGODB_URI=

# Google configuration for login handling
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Cloudinary configuration for image handling
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Frontend URL
CLIENT_URL=

PORT=

# Environment
NODE_ENV=

# Other ...
JWT_SECRET=
